.root {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.3rem;
    gap: 1rem;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, #0013b7, #1CB5E0) 1;
}