.navbar_style {
  height: 100px;
  padding: 0 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: wheat;
  background: linear-gradient(90deg, #000851 0%, #1cb5e0 100%);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.title {
  font-size: 2.5rem;
  font-style: italic;
  color: rgb(32, 212, 234);
}

.navbar_link_container {
  display: flex;
  gap: 2rem;
}

.navbar_link_style {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;

  border: none;
  border-radius: 5px;

  color: rgb(4, 31, 100);

  text-decoration: none;
  cursor: pointer;
}
